body {
    background: url("../images/bgi.jpg");
    /*no-repeat center center fixed;*/
    /*background-image: url("/images/bgi.jpg");*/
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-opacity: 0.5;
}

div {
    margin: 10px 20px;
    padding: 5px;
    /*width: 355px;*/
}

.carousel-item,
.carousel-inner,
.carousel-inner img {
    height: 100%;
    width: 100%;
}

.carousel-item {
    text-align: center;
}

.carousel-inner img {
    position: center;
}

#container {
    height: 100%;
}